<ion-view view-title="發布食譜">
	<ion-content class="padding">
		<div class="list">
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">餐點名稱：</span>
			    <input type="text" placeholder="咖哩飯">
			  </label>
			  	<label class="item item-input item-stacked-label">
			    <span class="input-label">餐點介紹：</span>
			    <input type="text" placeholder="這是一到簡單的咖哩飯">
			  </label>
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">餐點作法：</span>
			    <input type="text" placeholder="咖哩飯">
			  </label>
			<label class="item item-input item-stacked-label">
			    <span class="input-label">餐點影片連結：</span>
			    <input type="text" placeholder="咖哩飯">
			</label>
			<a class="button icon-right ion-chevron-right button-calm summit"
			href="#/tab/driverlist">
			summit</a>
	</ion-content>
</ion-view>
