<ion-view view-title="driveTogetHer">
	<ion-content class="padding">
		<div class="list">
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">前往地點</span>
			    <input type="text" placeholder="John">
			  </label>
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">出發地點</span>
			    <input type="text" placeholder="Suhr">
			  </label>
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">出發時間</span>
			    <input type="text" placeholder="john@suhr.com">
			  </label>
			</div>
			<a class="button icon-right ion-chevron-right button-calm summit"
			href="#/tab/driverlist">
			summit</a>
	</ion-content>
</ion-view>
