<ion-tabs class="tabs-striped tabs-background-dark tabs-color-stable tabs-icon-top">
    <ion-tab title="主頁" icon="ion-home" href="#/tab/dash">
        <ion-nav-view name="tab-dash"></ion-nav-view>
    </ion-tab>

    <ion-tab title="食譜列表" icon="ion-ios-bookmarks" href="#/tab/driverlist">
        <ion-nav-view name="tab-driverlist"></ion-nav-view>
    </ion-tab>

    <ion-tab title="我的食譜" icon="ion-cube" href="#/tab/history">
        <ion-nav-view name="tab-history"></ion-nav-view>
    </ion-tab>

    <ion-tab title="帳戶" icon="ion-gear-a" href="#/tab/account">
        <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>
</ion-tabs>