*{
	font-family: Microsoft JhengHei;
}
.circle{
	margin: auto;
	margin-top: 10px;
	width: 250px;
	height:250px;
	border-radius: 99em;
	background: #616163;
	display: flex;
	justify-content: center;
	align-items: center;
}

.circle p{
	font-size: 60px;
	color: white;
}

.summit{
	width: 100%;
}

.small p{
	font-size: 50px;
}
